.container.main
  .header.row(ng-class="{true: 'is-submitted', false: ''}[formSubmitted===true]")
    form.u-full-width(name="search_form" ng-submit="search()" novalidate) I'm in 
      input(type="text", name="search", id="search" ng-model="location" autofocus required placeholder="my city")
      i.fa.fa-search.icon-search(ng-click="search()")
  .container.results.ng-cloak
    .row.card(ng-repeat="venue in venues")
      .three.columns
        img(ng-src="{{venue.photo || 'assets/images/no_image.svg'}}")
      .seven.columns
        a(href="{{venue.link}}", target="_blank")
          h5 {{venue.name}}
        p rating: {{venue.rating}}
      .two.columns
        .count(ng-click="toggleCount($index)" ng-class="{true: 'going', false: ''}[venue.who.indexOf(userID) >= 0]")
          i.fa.fa-hand-o-up.icon
          | {{venue.who.length || 0}}

    footer.footer(ng-class="{true: '', false: 'hidden'}[formSubmitted===true]")
      .container
        p
          | Demo built by J. Martínez 
          = ' | '
          a(href='https://twitter.com/_jmartinez')
            i.fa.fa-twitter 
            | _jmartinez
          = ' | '
          a(href='https://github.com/jbmartinez/fcc-nightlife') GitHub
          = ' | ' 
          | results powered by Foursquare
          